<h1>Наша команда</h1>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/kom8_result.htm" alt="Jane" style="width:100%">
      <div class="container">
        <h3>{{teacher1.firstName}} {{teacher1.middleName}} {{teacher1.lastName}}</h3>
        <p class="title">Викладач-інструктор</p>
        <p>10 років водійського стажу, 5 вчить інших</p>
        <p>{{teacher1.phone}}</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/kom5_result.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h3>{{teacher2.firstName}} {{teacher2.middleName}} {{teacher2.lastName}}</h3>
        <p class="title">Викладач-інструктор</p>
        <p>11 років водійського стажу, 6 вчить інших</p>
        <p>{{teacher2.phone}}</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/kom9_result.jpg" alt="John" style="width:100%">
      <div class="container">
        <h3>{{teacher3.firstName}} {{teacher3.middleName}} {{teacher3.lastName}}</h3>
        <p class="title">Викладач-інструктор</p>
        <p>10 років водійського стажу, 4 вчить інших</p>
        <p>{{teacher3.phone}}</p>
      </div>
    </div>
  </div>
</div>
