<h1>Наша команда</h1>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/kom8_result.htm" alt="Jane" style="width:100%">
      <div class="container">
        <h3>Петро Іванович Костишин</h3>
        <p class="title">Викладач-інструктор</p>
        <p>10 років водійського стажу, 5 вчить інших</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/kom5_result.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h3>Петро Іванович Костишин</h3>
        <p class="title">Викладач-інструктор</p>
        <p>11 років водійського стажу, 6 вчить інших</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/kom9_result.jpg" alt="John" style="width:100%">
      <div class="container">
        <h3>Тарас Григорович Шевченко</h3>
        <p class="title">Викладач-інструктор</p>
        <p>10 років водійського стажу, 4 вчить інших</p>
      </div>
    </div>
  </div>
</div>
