@import "~bootstrap/dist/css/bootstrap.min.css";

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
  background-color: transparent;
}

table tr{background-color: transparent;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: black;
}
h1 {
  text-align: center;
  color: black;
}
.btn{
  background-color: red;
}
