<form class="modal-content animate" #form="ngForm" (submit)="doLogin(form)">
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="email" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="request.email" required datatype="string">

      <label for="password"><b>Пароль</b></label>
      <input [type]="showPsw ? 'text' : 'password'" type="password" class="form-control" id="password" placeholder="Пароль" name="password" [(ngModel)]="request.password" required datatype="string">
      <label class="cont">Показати пароль
        <input type="checkbox" (click)="showPassword()">
        <span class="checkmark"></span>
      </label>
      <div class="alert" *ngIf='invalidLogin'>{{errorMessage}}</div>
      <button type="submit"  >Ввійти</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)=goHome() class="cancelbtn" >Скасувати</button>
    </div>
  </form>
