<form class="modal-content animate" (submit)=doLogin()>
    <div class="container">
      <label for="username"><b>Логін</b></label>
      <input type="text" class="form-control" id="username" placeholder="Логін" name="username" [(ngModel)]="username" required datatype="string">

      <label for="password"><b>Пароль</b></label>
      <input type="password" class="form-control" id="password" placeholder="Пароль" name="password" [(ngModel)]="password" required datatype="string">
      <div class="alert" *ngIf='invalidLogin'>{{errorMessage}}</div>
      <button type="submit"  >Ввійти</button>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" (click)=goHome() class="cancelbtn" >Скасувати</button>
    </div>
  </form>
