<div class="topnav" id="myTopnav">
    <a href="home" class="active">Головна</a>
    <a href="category">Категорії</a>
    <div class="dropdown">
      <button class="dropbtn">Розклад
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="by-form">-за формою навчання</a>
        <a href="by-group">-за групами</a>
      </div>
    </div>
    <a href="teachers">Наші викладачі</a>
    <a href="vehicles">Наші машини</a>
    <a href="contacts">Контакти</a>
    <a *ngIf="isAdmin()" href="sign-in">Реєстрація користувача</a>
    <a *ngIf="!isAdmin() && isUserLoggedIn()" href="profile">Мій профіль</a>
    <div [hidden]="isLoggedIn">
      <nav (click)=goLogin()>Ввійти</nav>
    </div>
    <div class="logout">
      <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Вийти</a>
    </div>
    <app-side-navigation></app-side-navigation>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

