<div class="topnav" id="myTopnav">
    <a href="home" class="active">Головна</a>
    <a href="category">Категорії</a>
    <div class="dropdown">
      <button class="dropbtn">Розклад
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="by-form">-за формою навчання</a>
        <a href="by-group">-за групами</a>
      </div>
    </div>
    <a href="teachers">Наші викладачі</a>
    <a href="vehicles">Наші машини</a>
    <a href="contacts">Контакти</a>
    <app-login></app-login>
    <app-registration></app-registration>
    <app-side-navigation></app-side-navigation>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

