<h1>Раді вітати!</h1>
<p> Привіт, друзі ! Ми раді вітати Вас на нашому сайті, а незабаром сподіваємося і на заняттях в автошколі Магістраль.
  Зараз ви вибираєте автошколу і це дійсно важливий і відповідальний крок, від якого залежать два значимих аспекти:</p>

<p>1 Наскільки комфортним і легким буде процес навчання?</p>

<p>2 Яким буде рівень вашої підготовки після закінчення автошколи?</p>


<p>Давайте більш детально зупинимося на кожному з цих питань. Концепція автошколи полягає в тому, щоб максимально
  відповідати вимогам наших студентів і зробити процес навчання комфортним і зручним для людей з будь-яким графіком
  зайнятості і навіть маючи в своєму розпорядженні мінімальну кількість вільного часу ви могли пройти навчання і отримати права.</p>

<p>Для цього функціонують чотири види груп: Ранкова, денна, вечірня, вихідного дня. Також для Вашої зручності працюють
  кілька комфортних навчальних класів в різних районах міста. Це на Варшавській район Чорновола і на Опільського район
  привокзальний. Практика водіння також проходить у зручний для Вас час, тобто час занять призначаєте безпосередньо Ви.
  Заняття починається там де Вам зручно (тобто будинок, робота, навчальний заклад) і закінчується в потрібному для Вас місці.</p>

<p>Заняття проходять на сучасних автомобілях.</p>

<p>Друге питання на якому хотілося б зупинитися це методика навчання. Головною відмінністю нашої автошколи є те, що ми
  працюємо за методикою, яка дозволяє не просто підготувати людину до здачі іспиту в Сервісному центрі (тобто навчити
  виконувати кілька нескладних вправ) Ми ж, за допомогою комплексу спеціально розроблених вправ, вчимо керувати автомобілем
  так, що Ви ідеально його відчуваєте і по закінченню навчання здатні виконати найскладніші маневри, які не завжди
  можуть виконати навіть водії, які мають певний стаж водіння.</p>

<p>Ми даємо абсолютну гарантію того, що по закінченню навчання Ви будете дуже гідно керувати автомобілем, комфортно
  почувати себе за кермом і отримувати задоволення від водіння. Ми абсолютно точно можемо стверджувати, що немає
  людей яких неможливо навчити їздити.</p>

<p>Особливу увагу хочеться приділити атмосфері в якій проходять заняття. Тактовність і доброзичливість в будь-якій
  ситуації - це невід'ємні якості наших інструкторів з водіння. На іспитах в сервісному центрі ми повністю супроводжуємо Вас.</p>

<p>Ми раді будемо бачити Вас в автошколі Магістраль і ми гарантуємо, що Ви без проблем отримаєте права і навчитеся
  керувати автомобілем.</p>
